body {
  font-family: "Fira Sans", sans-serif;
}
h1 {
  font-size: 60px;
  line-height: 3rem;
}
h2 {
  color: salmon;
}
h5 {
  color: darkslategrey;
  font-weight: 700;
}
.high-light {
  color: orangered;
}
input[type="email"],
[type="password"] {
  width: 80%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
/*********Header part**********/
.h-padding {
  margin-right: 20px;
}
/*********Header part**********/
/****casual shoe***/

.shoe-card,
img {
  background-color: rgba(223, 213, 213, 0.705);
  border-radius: 40px;
}
/****casual shoe***/

/*****start terms-part*******/
.terms-part {
  height: 500px;
}
footer {
  height: 40px;
}

/*************** Media query ***********/
@media (max-width: 568px) {
  .terms-part {
    display: block;

    height: 1000px;
  }
}
